*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.div-a1 {
    display: inline-block;
    width: 49%;
    vertical-align: middle;
    
}

.div-b1 {
    display: inline-block;
    width: 581px;
    height: 160px;
    left: 939px;
    top: 1116px;
    vertical-align: top;
    font-family: Playfair display;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    padding-left: 80px ;
    padding-right: 80px;
    text-align: justify;
}

.div-b1 p {
    font-family: Gilroy;
}

